*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'open sans';
    background: rgb(250,250,250);
}

.contenedor{
  padding: 60px 0; /* espacio entre secciones */
  width: 90%;
  max-width: 1000px; /* */
  margin: auto; /* centrar todo */
  overflow: hidden; /* si algo e sale del contendor se esconde */
}

.titulo{
  color: #642a73;
  font-size: 30px;
  text-align: center;
  margin-bottom: 60px;

}

header{
  width: 100%;
  height: 600px;
  background: hsla(261, 45%, 57%, 0.7);  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, 	hsla(161, 61%, 46%, 0.7), 	hsla(261, 45%, 57%, 0.7));  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, 	hsla(161, 61%, 46%, 0.7), hsla(261, 45%, 57%, 0.7)), url(../imagenes/portada.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}

nav{
  text-align: right;
  padding: 30px 50px 0px 0px;
}

nav > a{
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  margin-right:10px;
}

nav > a{
  color: #fff;
  font-weight: 300;
  text-decoration: underline;
  margin-right:10px;
}

header .texto-header{
  display: flex; /*flex box*/
  height: 430px;
  width: 100%;
  align-items: center; /*centrar los elementos*/
  justify-content: center; /*??*/

}
