body{
    background: rgb(250,250,250);
}

h1{
    display: inline-block;
    position: relative;
    top: 5%;
    left: 38%;
    font-family: sans-serif;
}

.menu {
    background: rgb(217, 217, 217);
    margin:0;
    list-style-type: none;
}

.menu li{
    display: inline-block;
    padding: 15px 150px 15px 15px;
    margin-left: auto;
    margin-right: auto;
}

.menu li a{
    color: rgb(0,0,0);
    text-decoration: none;
}
.menu li a:hover{
    text-decoration: underline;
}

.profile{
    position: relative;
    left: -40%;
}


.info {
    position: relative;
    display: block;
    top: 10%;
    left: 43%;
}
